.app {
  &__about {
    padding: 7.688rem 0 10.125rem;
    scroll-margin: -2.6rem;

    &__title {
      text-align: center;
      font-weight: 400;
      font-size: 1.313rem;
      line-height: 1.813rem;
    }

    &__person {
      padding: 2.813rem 1.25rem 0;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 60.125rem;
      gap: 1.875rem;

      &-photo {
        display: flex;
        justify-content: center;
        flex-basis: 48%;
        flex-grow: 1;

        &__img {
          width: 100%;
        }
      }

      &-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 48%;
        flex-grow: 2;

        &__text {
          font-size: .938rem;
          line-height: 1.125rem;
          text-align: left;

          &:last-child {
            padding-top: 1.25rem;
          }
        }
      }
    }
  }
}

@media all and (max-width: 64rem) {
  .app {
    &__about {
      padding: 7.688rem 1rem 10.125rem;

      &__person {
        padding: 2.813rem 0 0;

        &-photo,
        &-info {
          min-width: unset;
          width: 100%;
        }
      }
    }
  }
}