.app {
  &__about {
    padding: 46px 0 162px;

    &__title {
      text-align: center;
      font-weight: 400;
      font-size: 21px;
      line-height: 29px;
    }

    &__person {
      padding-top: 45px;
      display: flex;
      margin: 0 auto;
      max-width: 962px;
      gap: 50px;
      
      &-info {
        align-self: self-end;
        margin-bottom: -80px;;
        &__text {
          font-size: 15px;
          line-height: 18px;
          text-align: left;
          &:last-child {
            padding-top: 20px;
          }
        }
      }
    }
  }
}