//TODO in the end move necessary styles to general
@import "variables.module.scss";

.app {
  &-footer {
    padding: 5.563rem 0 7.25rem;

    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: wrap;
      width: 100%;
      max-width: 53.5rem;
      margin: 0 auto;
    }

    &__messengers {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 15rem;
      min-width: 15rem;

      &__number {
        margin-top: .8rem;
        color: $primary-brown;
      }
    }

    &__messengers-list {
     display: flex;
     justify-content: space-between;
     align-items: baseline;
     &__icon {
      &--phone,
      &--telegram,
      &--viber {
        margin-right: .875rem;
      }

      &--phone {  
        width: 1.62rem;
        height: 3.125rem;
      }
      
      &--telegram {
        width: 2.063rem;
        height: 2rem;
      }

      &--viber {
        width: 2rem;
        height: 2rem;
      }

     }
    }

    &__email {
      display: flex;
      align-items: center;
      margin-bottom: 7px;

      &__icon {
        width: 2.75rem;
        height: 1.875rem;
        margin-right: .5rem;
      }

      &__link {
        color: $primary-brown;
        font-size: 1rem;
      }
    }

    &__instagram {
      display: flex;
      align-items: center;
      margin-bottom: .438rem;

      &__icon {
        width: 2.063rem;
        height: 2.063rem; 
        margin-right: .5rem;
      }

      &__link {
        color: $primary-brown;
        font-size: 1rem;
      }
    }
  }
}

@media all and (max-width: 62rem) {
  .app {
    &-footer {
      padding: 1.25rem 0;
    
      &__wrapper {
        flex-direction: column;
        align-items: center;
        row-gap: 1.25rem;
      }
      &__messengers,
      &__email,
      &__instagram {
        max-width: unset;
      }
    }
  }
}