@import './variables.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Manrope:wght@200;300;400;500;600;700&display=swap');
//Common reset begginning
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Manrope', sans-serif;
}
//Common reset begginning

//Global styles begins
body {
  margin: 0 auto;
  width: 100%;
  max-width: 90em;
  background-color: $primary-beige;
}
//Global styles ends

.app-wrapper {
  padding: 0 8.25em;
}
