@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Manrope:wght@200;300;400;500;600;700&display=swap');
@import './variables.module.scss';
@import './header.scss';
@import './header-mobile.scss';
@import './projects.scss';
@import './projects-item.scss';
@import './footer.scss';
@import './main-carousel.scss';
@import './arrowed-carousel.scss';
@import './about.scss';
@import './services.scss';
@import './gallery-collection.scss';
@import './sticky-contacts.scss';

//Global styles begins

.app__content-mobile__background {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;  
}

body {
  margin: 0 auto;
  background-color: $primary-beige;
}

.app {
  &__content {
    position: relative;
  }
  &__section {
    &--swampy {
      background-color: $primary-swampy;
    }

    &--sandy {
      background-color: $primary-sandy;
    }
  }

  &__wrapper {
    position: relative;
    margin: 0 auto;
  }
}

//Custom slider indicators
.ind {
  width: 14px;
  height: 14px;
  list-style: none;
  border-radius: 50%;
  border: 1px solid $primary-swampy;
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 100;
}

.ind.active {
  background-color: $primary-swampy;
  transition: 500ms 200ms;
}

//Custom slider indicators
@media all and (max-width: 64rem){
  .app__section--swampy {
    margin-top: 2px;
  }
  .ind {
    width: 10px;
    height: 10px;
    margin-right: .300rem;
  }
}

//Global styles ends