//TODO in the end move necessary styles to general
@import "variables.module.scss";

.app {
  &-header {
    display: flex;
    padding: 0 3rem 0 6.25rem;
  }

  &-navigation {
    display: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;

    &__logo {
      display: block;

      &-name,
      &-position {
        display: block;
        text-align: start;
      }

      &-name {
        font-size: 1.438rem;
        line-height: 1.938rem;
      }

      &-position {
        font-size: .875rem;
        line-height: 1.188rem;
      }
    }

    &__list{
      display: inherit;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item {
      &-link {
        display: block;
        font-size: 1rem;
        line-height: 1.375rem;
        color: $primary-brown;
        padding: 1.375rem 1.188rem;

        &:hover {
          border: .031rem solid $primary-brown;
          border-top: 0;
        }
      }
    }

    &__phone {
      color: $primary-brown;
    }
  }
}