//TODO in the end move necessary styles to general
@import "variables.module.scss";

.app {
  &__mobile {
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 9;

    &-header {
      padding: 1rem 2rem;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      z-index: 1;
      background-color: $primary-sandy;

      &__logo {
        &-name {  
          font-weight: 600;
        }
  
        &-name,
        &-position {
          display: block;
        }
      }

      &__burger {
        padding: .25rem;
        width: 100%;
        max-width: 2rem;
        max-height: 2rem;
        box-sizing: border-box;
        border: .063rem solid #271F18;
        border-radius: .25rem;

        &-item {
          display: block;
          height: .25rem;
          background-color: $primary-brown;
          border-radius: .375rem;

          &:nth-child(2) {
            margin: .25rem 0;
          }
        }
      }
    }

    &-navigation {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 73.5rem;
      top: -140%;
      transition: all .3s ease-out;
    
      &__item {
        padding: 2rem 0;
        width: 100%;
        color: $primary-brown;
        text-align: center;
        font-weight: 500;
        background-color: $primary-beige;
        border-bottom: .063rem solid $primary-brown;
      }

      &--active {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        top: 2.875rem;
        transition: all .1s ease-in;
        backdrop-filter: blur(1rem);
        background-color: rgba(0, 0, 0, 0.54);

        .app__mobile-navigation__item {
          display: block;
        }

      }
    }
  }
}