@import "variables.module.scss";

.app {
  &__main {
    &-carousel {
      padding-bottom: .625rem;
      &__item {
        position: relative;
        &-message {
          padding: .438rem 1.375rem .188rem;
          position: absolute;
          display: block;
          right: 1.25rem;
          bottom: 201.25rem;
          border-radius: 1.375rem;
          background-color: $primary-gray;
          z-index: 2;
          cursor: pointer;
          svg {
            width: 1.125rem;
          }
          &__icon {
            width: 1.375rem;
            height: 1.375rem;
          }
        }
      }
    }
  }
}

.slide {
  .app__main-carousel__item {
    &-image {
      height: 100%;
      max-height: 50rem;
    }
  }
}