.app {
  &__popup {
    &__close {
      position: absolute;
      width: 2.5rem;
      height: 2.5rem;
      top: .375rem;
      right: .375rem;
      background: url("/assets/images/arrowed-carousel/cancel.svg") no-repeat;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      background-size: 100%;
      z-index: inherit;
    }
  }
}