@import "variables.module.scss";

.app {
  &__projects {
    &__item {
      position: relative;
      width: 100%;
      flex-basis: 49.9%;
      flex-grow: 9999;

      &:hover {
        .app__projects__item__overlay  {
          visibility: visible;
          cursor: pointer;
        }
      }

      &-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &__overlay { 
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        backdrop-filter: blur(.25rem);
        background-color: $transparent-swampy;
        
        &-inner {
          width: 95%;
          height: 92%; 
          box-sizing: border-box;
          border: .063rem solid $primary-white;
          display: flex;
          align-items: center;
        }

        &-info {
          padding: .625rem .876rem;
          display: block;
          box-sizing: border-box;
          border: .063rem solid $primary-white;
          border-left: 0;
          text-align: left;

          &__object,
          &__meters {
            display: block;
            color: $primary-white;
            font-size: .938rem;
          }

          &__object {
            font-weight: 300;
          }

          &__meters {
            font-weight: 500;
          }

        }
      }
      
    }
  }
}
@media all and (max-width: 64rem) {
  .app {
    &__projects {
      &__item {
        &__overlay {
          display: none;
        }
      }
    }
  }
}

@media all and (max-width: 61.5rem) {
  .app {
    &__projects {
      &__item {
        padding: 0.06rem 0;
      }
    }
  }
}
