.app {
  &__services {
    padding: 2.375rem 4.688rem 0;
    margin: 0 auto;

    // .app__arrowed-carousel__wrapper {
    //   .app__arrowed-carousel__item-image {
    //     height: 100%;
    //     max-height: 51.25rem;
    //   }
    // } 

    &__title {
      text-align: center;
      margin-bottom: 2.75rem;
      font-weight: 400;
      font-size: 1.313rem;
      line-height: 1.813rem;
      color: $primary-white;
    }

    &__info {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 3.75rem;
      gap: 1.125rem;

   
      
      &-steps { 
        color: $primary-white;
        flex-basis: 49%;
        flex-grow: 9;
        
        &__label {
          display: block;
          border: .063rem solid $primary-white;
          padding: .375rem .75rem;
          font-size: 1.313rem;
          &:last-of-type {
            margin-top: 2.875rem;
          }
        }

        &__text {
          display: flex;
          padding-top: 2.75rem;
          font-size: 1.188rem;
          line-height: 1.625rem;
        }
        
        &__number {
          display: block;
          padding-right: 1.625rem;
          font-size: 1.313rem;
          font-weight: 400;
        }
      }

      &-visualization {
        display: flex;
        flex-basis: 49%;
        flex-grow: 9999;
        flex-direction: column;
        &__styles {
          display: flex;
          justify-content: flex-end;

          &-image {
            width: 75%;
          }
        }
        
        &__plan {
          display: flex;
          justify-content: flex-end;
          padding-bottom: 6.25rem;
          width: 100%;
         
          &-image {
            width: 100%;
          }
        }
      }
    }
  }
}

@media all and (max-width: 63.938rem) {
  .app {
    &__services {
      scroll-margin: 3rem;
      padding: 2.375rem .625rem 0;
    }
  }
}