@import "variables.module.scss";

.app {
  &__sticky-contacts {
    border-radius: 1.375rem;
    overflow: hidden;
    position: fixed;
    bottom: 3%;
    right: 2%;
    background-color: $transparent-biege;
    width: 100%;
    z-index: 10;
    max-width: 3.875rem;
    transition: ease .2s;
    height: 2.375rem;
    border: 1.063rem solid $primary-brown;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    &:hover {
      max-width: 14.875rem;
      transition: ease .2s;
      .app__sticky-contacts__item {
        display: block;
        transition: ease .4s;
      }
    }

    &__item {
      display: none;
      height: 100%;
      position: relative;
      z-index: 0;

      &:last-child {
        display: flex;
        position: relative;
        z-index: -10;
      }

      &-link {
        padding: 0 .75rem;
        display: flex;
        align-items: center;
        height: 100%;
        border-radius: 1.375rem;
        border: .063rem solid transparent;
        border-bottom: 0;
        border-top: 0;
        position: relative;
        z-index: -1;

        &:hover {
          border: .063rem solid $primary-sandy;
          background-color: $primary-white;
          border-bottom: 0;
          border-top: 0;
        }
      }

      &-icon {
        height: 1.8rem;
        width: 2.1rem;
        fill: $primary-brown;
      }
    }
  }
}