.app {
  &__technical-carousel {

    &__wrapper {
      margin: 1.875rem auto -4.75rem;
      max-width:  66.5rem;
      width: 100%;
    }

    .carousel {
      &.carousel-slider {
        .slider-wrapper {
          &.axis-horizontal {
            width: 90%;
          }
        }

        .control-arrow {
          &:before {
            border: none;
          }

          &.control-next {
            background: url("/assets/images/technical-carousel/arrow-right.png") no-repeat;
          }

          &.control-prev {
            background: url("/assets/images/technical-carousel/arrow-left.png") no-repeat;
          }

          &.control-prev,
          &.control-next {
            background-position: center center;
            opacity: 1;
          }

        }
      }
    }
  }
}